<div id="<%= dom_id doctor %>">
    <p>Doctor ID: <%= doctor.id %></p>
    <p>Name: <%= doctor.email %></p>
    <p>Created At: <%= doctor.created_at %></p>
    <p>Updated At: <%= doctor.updated_at %></p>
</div>
