<div class="columns-2">
    <div class="h-full" id="<%= dom_id order %>">
        <h2>Order ID: <%= order.id %></h2>
        <p>Doctor: <%= render partial: "doctor", locals: { doctor: order.doctor } %></p>
        <p>Total: <%= order.total %></p>
        <%= render partial: "order_item", collection: eval(order.order_items) %>
        <p>Created At: <%= order.created_at %></p>
        <p>Updated At: <%= order.updated_at %></p>
    </div>
    <div class="h-full">
        <%= render MessagesComponent.new(order.messages) %>
        <%= render partial: "messages/form", locals: { order: order } %>
    </div>
</div>