<div>
    <p>Order Item ID: <%= order_item[:id] %></p>
    <p>Order ID: <%= order_item[:order_id] %></p>
    <p>Product ID: <%= order_item[:product_id] %></p>
    <p>Quantity: <%= order_item[:quantity] %></p>
    <p>Price: <%= order_item[:price] %></p>
    <p>Created At: <%= order_item[:created_at] %></p>
    <p>Updated At: <%= order_item[:updated_at] %></p>
</div>
