<!DOCTYPE html>
<html>
  <head>
    <title>Rugiet Take Home Coding Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render HeaderComponent.new(user: current_user) %>
    <div class="container mx-auto h-full">
      <%= yield %>
    </div>
    <%= render FooterComponent.new %>
  </body>
</html>
